extends layout
block content
  h1= title
  - let citiesid = toShow._id
  - let cityname = toShow.cityname
  - let citypopulation = toShow.citypopulation
  - let cityrevenue = toShow.cityrevenue
  div
    div.row
      div(class='citiesAttr mr-3') cities ID is:
        div #{citiesid}
    div.row
      div(class='citiesAttr mr-3') cities Type is:
        div #{cityname}
    div.row
      div(class='citiesAttr mr-3') cities Size is:
        div #{citypopulation}
    div.row
      div(class='citiesAttr mr-3') cities Cost is:
        div #{cityrevenue}
