extends layout

block content
  h1= title
  
  - let result = results;
  script.
    function buy(num){
      alert("You purchased items " + (num+1));
      }

  div.container-fluid
    div.row
        each cities, num in result
            div.col-sm-2(onClick = `buy(${num})`)
                p cityName: #{cities.cityname}
                p citypopulation : #{cities.citypopulation}
                p cityrevenue  : #{cities.cityrevenue}
