extends layout

block content
  h1= title
  a.btn.btn-primary.btn-sm(href='/cities/create') Create New


  - let items = results;
  div(class="container-fluid")
    div(class="row")
      each item in items
        - let destination = `dispatch(\"/cities/update?id=${item._id}\")`
        - let destination0 = `dispatch(\"/cities/delete?id=${item._id}\")`
        - let destination1 = `dispatch(\"/cities/detail?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.cityname}(#{item.citypopulation}) is #{item.cityrevenue}
        button.btn(class="btn-primary ml-1", onclick=destination) Update
        button.btn(class="btn-danger ml-1", onclick=destination0) delete
        button.btn(class="btn-primary ml-1", onclick=destination1) detail

        script.
          function dispatch(path){
            window.location.href = path;
          }
